In [1]:
import pandas as pd

In [46]:
df = pd.read_csv("C://Users//Er Pravin Pandey//OneDrive//Desktop//vlba_project//data_CCR//CCR_2//MwwCcrBusinessTrips_2.csv",encoding = 'unicode_escape',on_bad_lines='skip')
print(df.head())
print(df.info())

  BusinessTripId   StartDate     EndDate EmployeeId  PostalCode          City  \
0       BT102937  1996-01-02  1996-01-05    E107601       36266      Heringen
1       BT102938  1996-01-04  1996-01-09    E107601       36251  Bad Hersfeld
2       BT102945  1996-01-05  1996-01-07    E107590       36287   Breitenbach
3       BT102952  1996-01-06  1996-01-10    E107601       36219      Cornberg
4       BT102953  1996-01-06  1996-01-07    E107590       36287   Breitenbach

   OvernightStays  HotelCosts  TravelCosts Currency
0               3         0.0       101.01      EUR
1               5         0.0       148.86      EUR
2               2         0.0        62.05      EUR
3               4         0.0       141.84      EUR
4               1         0.0        33.29      EUR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17117 entries, 0 to 17116
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BusinessTripId  17117 non-null  object
 1   StartDate       17117 non-null  object
 2   EndDate         17117 non-null  object
 3   EmployeeId      17117 non-null  object
 4   PostalCode      17117 non-null  int64
 5   City            17117 non-null  object
 6   OvernightStays  17117 non-null  int64
 7   HotelCosts      17117 non-null  float64
 8   TravelCosts     17117 non-null  float64
 9   Currency        17117 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 1.3+ MB
None

In [47]:
df.PostalCode = df.PostalCode.apply(lambda x: int(str(x).rjust(5,'0')))

In [48]:
df.PostalCode = df.PostalCode.astype('string')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17117 entries, 0 to 17116
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BusinessTripId  17117 non-null  object
 1   StartDate       17117 non-null  object
 2   EndDate         17117 non-null  object
 3   EmployeeId      17117 non-null  object
 4   PostalCode      17117 non-null  string
 5   City            17117 non-null  object
 6   OvernightStays  17117 non-null  int64
 7   HotelCosts      17117 non-null  float64
 8   TravelCosts     17117 non-null  float64
 9   Currency        17117 non-null  object
dtypes: float64(2), int64(1), object(6), string(1)
memory usage: 1.3+ MB
None

In [51]:
print(df.head())

  BusinessTripId   StartDate     EndDate EmployeeId PostalCode          City  \
0       BT102937  1996-01-02  1996-01-05    E107601      36266      Heringen
1       BT102938  1996-01-04  1996-01-09    E107601      36251  Bad Hersfeld
2       BT102945  1996-01-05  1996-01-07    E107590      36287   Breitenbach
3       BT102952  1996-01-06  1996-01-10    E107601      36219      Cornberg
4       BT102953  1996-01-06  1996-01-07    E107590      36287   Breitenbach

   OvernightStays  HotelCosts  TravelCosts Currency
0               3         0.0       101.01      EUR
1               5         0.0       148.86      EUR
2               2         0.0        62.05      EUR
3               4         0.0       141.84      EUR
4               1         0.0        33.29      EUR

In [53]:
df_5 = df.loc[df['PostalCode'].str.startswith('5', na=False)]
print(df_5.head())

     BusinessTripId   StartDate     EndDate EmployeeId PostalCode  \
2344       BT113448  2000-01-11  2000-01-17    E107590      55743
2373       BT113573  2000-01-27  2000-02-05    E107623      53533
2501       BT114154  2000-04-02  2000-04-11    E107590      55234
2513       BT114206  2000-04-08  2000-04-14    E107691      56305
2521       BT114247  2000-04-11  2000-04-16    E107623      59069

              City  OvernightStays  HotelCosts  TravelCosts Currency
2344  Kirschweiler               6     1096.05        29.34      EUR
2373    Stahlhütte               9     1453.74        32.78      EUR
2501    Dintesheim               9     1660.58        24.70      EUR
2513   Niederähren               6      988.97        30.63      EUR
2521          Hamm               5      887.69        30.85      EUR

In [54]:
print(len(df))

17117

In [55]:
df_0 = df.loc[df['PostalCode'].str.startswith('0', na=False)]
print(df_0.head())
print("=" * 3, len(df_0))

Empty DataFrame
Columns: [BusinessTripId, StartDate, EndDate, EmployeeId, PostalCode, City, OvernightStays, HotelCosts, TravelCosts, Currency]
Index: []
=== 0

In [56]:
df_1 = df.loc[df['PostalCode'].str.startswith('1', na=False)]
print(df_1.head())
print("=" * 3, len(df_1))

Empty DataFrame
Columns: [BusinessTripId, StartDate, EndDate, EmployeeId, PostalCode, City, OvernightStays, HotelCosts, TravelCosts, Currency]
Index: []
=== 0

In [59]:
df_2 = df.loc[df['PostalCode'].str.startswith('2', na=False)]
print(df_2.head())
print("=" * 3, len(df_2))

Empty DataFrame
Columns: [BusinessTripId, StartDate, EndDate, EmployeeId, PostalCode, City, OvernightStays, HotelCosts, TravelCosts, Currency]
Index: []
=== 0

In [67]:
df_3 = df.loc[df['PostalCode'].str.startswith('3', na=False)]
df_3['StrategicRegionId'] = 'GER100003'
print("=" * 3, len(df_3))
print(df_3.head())

=== 16384
  BusinessTripId   StartDate     EndDate EmployeeId PostalCode          City  \
0       BT102937  1996-01-02  1996-01-05    E107601      36266      Heringen
1       BT102938  1996-01-04  1996-01-09    E107601      36251  Bad Hersfeld
2       BT102945  1996-01-05  1996-01-07    E107590      36287   Breitenbach
3       BT102952  1996-01-06  1996-01-10    E107601      36219      Cornberg
4       BT102953  1996-01-06  1996-01-07    E107590      36287   Breitenbach

   OvernightStays  HotelCosts  TravelCosts Currency StrategicRegionId
0               3         0.0       101.01      EUR         GER100003
1               5         0.0       148.86      EUR         GER100003
2               2         0.0        62.05      EUR         GER100003
3               4         0.0       141.84      EUR         GER100003
4               1         0.0        33.29      EUR         GER100003

C:\Users\Er Pravin Pandey\AppData\Local\Temp\ipykernel_14768\964936075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['StrategicRegionId'] = 'GER100003'

In [68]:
df_4 = df.loc[df['PostalCode'].str.startswith('4', na=False)]
df_4['StrategicRegionId'] = 'GER100003'
print("=" * 3, len(df_4))
print(df_4.head())

=== 133
     BusinessTripId   StartDate     EndDate EmployeeId PostalCode  \
2415       BT113746  2000-02-16  2000-02-17    E107623      42657
2446       BT113897  2000-03-05  2000-03-13    E107623      49610
2505       BT114171  2000-04-04  2000-04-10    E107590      48465
2649       BT114813  2000-06-20  2000-06-28    E107681      40721
2684       BT114974  2000-07-10  2000-07-19    E107623      49459

                  City  OvernightStays  HotelCosts  TravelCosts Currency  \
2415          Solingen               1      175.85        30.93      EUR
2446       Quakenbrück               8     1353.73        25.67      EUR
2505          Quendorf               6     1007.31        26.52      EUR
2649            Hilden               8     1389.99        31.42      EUR
2684  Quernheimerbruch               9     1673.12        29.25      EUR

     StrategicRegionId
2415         GER100003
2446         GER100003
2505         GER100003
2649         GER100003
2684         GER100003

C:\Users\Er Pravin Pandey\AppData\Local\Temp\ipykernel_14768\476900171.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['StrategicRegionId'] = 'GER100003'

In [69]:
df_5 = df.loc[df['PostalCode'].str.startswith('5', na=False)]
df_5['StrategicRegionId'] = 'GER100003'
print("=" * 3, len(df_5))
print(df_5.head())

=== 600
     BusinessTripId   StartDate     EndDate EmployeeId PostalCode  \
2344       BT113448  2000-01-11  2000-01-17    E107590      55743
2373       BT113573  2000-01-27  2000-02-05    E107623      53533
2501       BT114154  2000-04-02  2000-04-11    E107590      55234
2513       BT114206  2000-04-08  2000-04-14    E107691      56305
2521       BT114247  2000-04-11  2000-04-16    E107623      59069

              City  OvernightStays  HotelCosts  TravelCosts Currency  \
2344  Kirschweiler               6     1096.05        29.34      EUR
2373    Stahlhütte               9     1453.74        32.78      EUR
2501    Dintesheim               9     1660.58        24.70      EUR
2513   Niederähren               6      988.97        30.63      EUR
2521          Hamm               5      887.69        30.85      EUR

     StrategicRegionId
2344         GER100003
2373         GER100003
2501         GER100003
2513         GER100003
2521         GER100003

C:\Users\Er Pravin Pandey\AppData\Local\Temp\ipykernel_14768\420348957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['StrategicRegionId'] = 'GER100003'

In [63]:
df_6 = df.loc[df['PostalCode'].str.startswith('6', na=False)]
print(df_6.head())
print("=" * 3, len(df_6))

Empty DataFrame
Columns: [BusinessTripId, StartDate, EndDate, EmployeeId, PostalCode, City, OvernightStays, HotelCosts, TravelCosts, Currency]
Index: []
=== 0

In [64]:
df_7 = df.loc[df['PostalCode'].str.startswith('7', na=False)]
print(df_7.head())
print("=" * 3, len(df_7))

Empty DataFrame
Columns: [BusinessTripId, StartDate, EndDate, EmployeeId, PostalCode, City, OvernightStays, HotelCosts, TravelCosts, Currency]
Index: []
=== 0

In [65]:
df_8 = df.loc[df['PostalCode'].str.startswith('8', na=False)]
print(df_8.head())
print("=" * 3, len(df_8))

Empty DataFrame
Columns: [BusinessTripId, StartDate, EndDate, EmployeeId, PostalCode, City, OvernightStays, HotelCosts, TravelCosts, Currency]
Index: []
=== 0

In [66]:
df_9 = df.loc[df['PostalCode'].str.startswith('9', na=False)]
print(df_9.head())
print("=" * 3, len(df_9))

Empty DataFrame
Columns: [BusinessTripId, StartDate, EndDate, EmployeeId, PostalCode, City, OvernightStays, HotelCosts, TravelCosts, Currency]
Index: []
=== 0

In [70]:
dflist = [df_3,df_4,df_5]
new_df = pd.concat(dflist, ignore_index=True)
print(new_df.head())
print("*" *5, len(new_df))

  BusinessTripId   StartDate     EndDate EmployeeId PostalCode          City  \
0       BT102937  1996-01-02  1996-01-05    E107601      36266      Heringen
1       BT102938  1996-01-04  1996-01-09    E107601      36251  Bad Hersfeld
2       BT102945  1996-01-05  1996-01-07    E107590      36287   Breitenbach
3       BT102952  1996-01-06  1996-01-10    E107601      36219      Cornberg
4       BT102953  1996-01-06  1996-01-07    E107590      36287   Breitenbach

   OvernightStays  HotelCosts  TravelCosts Currency StrategicRegionId
0               3         0.0       101.01      EUR         GER100003
1               5         0.0       148.86      EUR         GER100003
2               2         0.0        62.05      EUR         GER100003
3               4         0.0       141.84      EUR         GER100003
4               1         0.0        33.29      EUR         GER100003
***** 17117

In [71]:
new_df.to_csv('sri_bussiness_trips.csv',index=False)